.navbar-header{
}
.navbarfill {
  margin: 0 auto;
}
.navbar {
  position: fixed;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 1em;
  background-color: black;
  margin: 0 auto;
  .nav {
    a {
      width: 8em;
      border: 1px solid red;
    }
    a:hover{
      color: blue !important;
    }
  }
}
// injector
// endinjector
