<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl" role="navigation">
  <!-- <div class="navbarfill"> -->
    <div class="navbar-header">
      <img src="assets/images/capecrossinglogo.png">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" >
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="home" ng-click="navCollapsed=true">HOME</a></li>
        <li><a ui-sref="lifestyle" ng-click="navCollapsed=true">LIFESTYLE</a></li>
        <li><a ui-sref="location" ng-click="navCollapsed=true">LOCATION &<br />ATTRACTIONS</a></li>
        <li><a ui-sref="residences" ng-click="navCollapsed=true">RESIDENCES<br />& PRICING</a></li>
        <li><a ui-sref="rental" ng-click="navCollapsed=true">RENTAL<br>PROGRAM</a></li>
        <li><a ui-sref="contact" ng-click="navCollapsed=true">CONTACT</a></li>
        <!-- <ul class="dropdown-menu">
          <li><a ui-sref="home">HOME</a></li>
          <li><a ui-sref="lifestyle">LIFESTYLE</a></li>
          <li><a ui-sref="location">LOCATION & ATTRACTIONS</a></li>
          <li><a ui-sref="residences">RESIDENCES & PRICING</a></li>
          <li><a ui-sref="rental">RENTAL PROGRAM</a></li>
          <li><a ui-sref="contact">CONTACT</a></li>
        </ul> -->
      </ul>
    </div>
  <!-- </div> -->
</nav>
